.root {
    margin: 20px 0;
  }
  
  .headCell {
    font-weight: bold;
  }
  
  .titleCell {
    max-width: 400px;
  }
  
  .row {
    cursor: pointer;
  }
  
  .row:hover {
    background: #fafafa;
  }